[submodule "modules/btstack"]
	path = modules/btstack
	url = https://github.com/ev3rt-git/btstack.git
[submodule "modules/usblib"]
	path = modules/usblib
	url = https://github.com/ev3rt-git/usblib.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/ev3rt-git/ev3rt-hrp2-sdk.git
[submodule "mbed-on-toppers"]
	path = modules/mbed-on-toppers
	url = https://github.com/ev3rt-git/mbed-on-toppers.git
