[submodule "modules/btstack"]
	path = modules/btstack
	url = https://github.com/ev3rt-git/btstack.git
[submodule "modules/usblib"]
	path = modules/usblib
	url = https://github.com/ev3rt-git/usblib.git
